<!--section-header-->
<header class="header">
    <div class="header-container container">
      <nav class="header-navigation">
        <svg class="header-logo-icon" width="32" height="32">
          <use href="./images/hero_images/svg-icons.svg#icon-logo-icon"></use>
        </svg>
        <a href="" class="header-logo link">Cucina</a>
        <ul class="header-list list">
          <li class="header-item">
            <a href="" class="header-link link current">Home</a>
          </li>
          <li class="header-item">
            <a href="" class="header-link link">Store</a>
          </li>
          <li class="header-item">
            <a href="" class="header-link link">Recipes</a>
          </li>
          <li class="header-item">
            <a href="" class="header-link link">Gallery</a>
          </li>
        </ul>
      </nav>
      <button class="header-button btn" type="button">Contact us</button>
    </div>
  </header>