<section class="hero">
  <div class="container hero-container">
    <div class="hero-left-container">
      <h1 class="hero-title">CUCINA DI CATHERINA</h1>
      <p class="hero-subtitle">
        We know,<br />
        you will <span class="hero-wrap">love</span> our product
      </p>
      <button type="button" class="hero-btn btn">Buy now</button>
      <ul class="hero-list-of-details list">
        <li class="hero-item-detail">
          <span class="hero-wrap-numbers">14</span>
          <p class="hero-detail-text">different tastes</p>
        </li>
        <li class="hero-item-detail hero-wrap">
          <span class="hero-wrap-numbers">31</span>
          <p class="hero-detail-text">factories around the world</p>
        </li>
      </ul>
    </div>
    <div class="hero-right-container">
      <img
        class="hero-img"
        src="../images/hero_images/hero.png"
        alt="Pasta Sause"
        width="432"
        height="577"
      />
      <svg class="hero-icon-img" width="6" height="6">
        <use href="../images/hero_images/svg-icons.svg#icon-circle"></use>
      </svg>
      <ul class="hero-soc-list list">
        <li class="hero-soc-item">
          <a href="https://www.tumblr.com/" class="hero-link link">
            <svg class="hero-icons" width="24" height="24">
              <use href="../images/hero_images/svg-icons.svg#icon-tumblr"></use>
            </svg>
          </a>
        </li>
        <li class="hero-soc-item">
          <a href="https://www.instagram.com/" class="hero-link link">
            <svg class="hero-icons" width="24" height="24">
              <use
                href="../images/hero_images/svg-icons.svg#icon-instagram"
              ></use>
            </svg>
          </a>
        </li>
        <li class="hero-soc-item">
          <a href="https://www.youtube.com/" class="hero-link link">
            <svg class="hero-icons" width="24" height="24">
              <use
                href="../images/hero_images/svg-icons.svg#icon-youtube"
              ></use>
            </svg>
          </a>
        </li>
        <li class="hero-soc-item">
          <a href="https://twitter.com/" class="hero-link link">
            <svg class="hero-icons" width="24" height="24">
              <use
                href="../images/hero_images/svg-icons.svg#icon-twitter"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
