<!--section-sauces-second-->
<section class="sauses-second">
  <div class="container sauses-second-container">
    <h2 class="visually-hidden">Menu</h2>
    <button type="button" class="sauses-second-up-down btn">
      <svg class="sauses-second-up-down-icon" width="23" height="12">
        <use href="./images/sauces_second_images/sprite-btn.svg#icon-up"></use>
      </svg>
    </button>
    <ul class="sauses-second-list list">
      <li class="sauses-second-item">
        <img
          class="sauses-second-img"
          src="../src/images/sauces_second_images/tomatoes.jpg"
          alt="tomatoes"
        />
        <div class="sauses-second-wrap">
          <h3 class="sauses-second-title">Classic sauce</h3>
          <p class="sauses-second-desc">
            The most delicate taste of tomatoes, combined with branded spices
            and white wine, will make your dish incredibly tasty.
          </p>
          <button class="sauses-second-btn btn" type="button">Buy now</button>
        </div>
      </li>
      <li class="sauses-second-item">
        <div class="sauses-second-wrap">
          <h3 class="sauses-second-title">Spicy sauce</h3>
          <p class="sauses-second-desc">
            For thrill-seekers, we added hot chili pepper to our sauce, it also
            reveals all the tastes and aromas of the sauce well.
          </p>
          <button class="sauses-second-btn btn" type="button">Buy now</button>
        </div>
        <img
          class="sauses-second-img"
          src="../src/images/sauces_second_images/pappers.jpg"
          alt="pappers"
        />
      </li>
    </ul>
    <button type="button" class="sauses-second-up-down btn">
      <svg class="sauses-second-up-down-icon" width="23" height="12">
        <use
          href="./images/sauces_second_images/sprite-btn.svg#icon-down"
        ></use>
      </svg>
    </button>
    <button type="button" class="sauses-second-up-down btn">
      <svg class="sauses-second-up-down-icon" width="23" height="12">
        <use href="./images/sauces_second_images/sprite-btn.svg#icon-up"></use>
      </svg>
    </button>
    <ul class="sauses-second-list list">
      <li class="sauses-second-item">
        <img
          class="sauses-second-img"
          src="../src/images/sauces_second_images/ketchup-or-tomato-sauce.jpg"
          alt=""
        />
        <div class="sauses-second-wrap">
          <h3 class="sauses-second-title">Classic sauce</h3>
          <p class="sauses-second-desc">
            The most delicate taste of tomatoes, combined with branded spices
            and white wine, will make your dish incredibly tasty.
          </p>
          <button class="sauses-second-btn btn" type="button">Buy now</button>
        </div>
      </li>
      <li class="sauses-second-item">
        <div class="sauses-second-wrap">
          <h3 class="sauses-second-title">Spicy sauce</h3>
          <p class="sauses-second-desc">
            For thrill-seekers, we added hot chili pepper to our sauce, it also
            reveals all the tastes and aromas of the sauce well.
          </p>
          <button class="sauses-second-btn btn" type="button">Buy now</button>
        </div>
        <img
          class="sauses-second-img"
          src="../src/images/sauces_second_images/red-hot-chilli-sauce.jpg"
          alt=""
        />
      </li>
    </ul>
    <button type="button" class="sauses-second-up-down btn">
      <svg class="sauses-second-up-down-icon" width="23" height="12">
        <use
          href="./images/sauces_second_images/sprite-btn.svg#icon-down"
        ></use>
      </svg>
    </button>
    <button type="button" class="sauses-second-up-down btn">
      <svg class="sauses-second-up-down-icon" width="23" height="12">
        <use href="./images/sauces_second_images/sprite-btn.svg#icon-up"></use>
      </svg>
    </button>
    <ul class="sauses-second-list list">
      <li class="sauses-second-item">
        <img
          class="sauses-second-img"
          src="../src/images/sauces_second_images/classic-sauce.jpg"
          alt=""
        />
        <div class="sauses-second-wrap">
          <h3 class="sauses-second-title">Classic sauce</h3>
          <p class="sauses-second-desc">
            The most delicate taste of tomatoes, combined with branded spices
            and white wine, will make your dish incredibly tasty.
          </p>
          <button class="sauses-second-btn btn" type="button">Buy now</button>
        </div>
      </li>
      <li class="sauses-second-item">
        <div class="sauses-second-wrap">
          <h3 class="sauses-second-title">Spicy sauce</h3>
          <p class="sauses-second-desc">
            For thrill-seekers, we added hot chili pepper to our sauce, it also
            reveals all the tastes and aromas of the sauce well.
          </p>
          <button class="sauses-second-btn btn" type="button">Buy now</button>
        </div>
        <img
          class="sauses-second-img"
          src="../src/images/sauces_second_images/spicy-sauce.jpg"
          alt="spicy sauce"
        />
      </li>
    </ul>
    <button type="button" class="sauses-second-up-down btn">
      <svg class="sauses-second-up-down-icon" width="23" height="12">
        <use
          href="./images/sauces_second_images/sprite-btn.svg#icon-down"
        ></use>
      </svg>
    </button>
  </div>
</section>
