<!--section-slider-->
<div class="container-slider position">
    <div class="foto-swiper">
      <div class="foto-swiper__wrap swiper-wrapper">
      <div class="foto-slid swiper-slide">
        <img src="./images/slider_images/image1.jpg" alt="foto1" 
        srcset="./images/slider_images/image1.jpg 1x, ./images/slider_images/image1-2x.jpg 2x" />
        </div>
      <div class="foto-slid swiper-slide">
          <img
            src="./images/slider_images/image2.jpg"
            alt="foto2"
            srcset="./images/slider_images/image2.jpg 1x, ./images/slider_images/image2-2x.jpg 2x"
          />
      </div>
      <div class="foto-slid swiper-slide">
          <img
            src="./images/slider_images/image3.jpg"
            alt="foto3"
            srcset="./images/slider_images/image3.jpg 1x, ./images/slider_images/image3-2x.jpg 2x"
          />
     </div>
  </div>
  </div>
<div class="foto-pagination"></div>
  <div class="swiper-button-next btn"></div>
  <div class="swiper-button-prev btn"></div>
  </div>
