<!--section-video-->
        <section class="video"> 
            <div class="container-video">
                <ul class="video-list">
                    <li class="video-item">
                        <div class="video-container">
                        <img src="./images/video_images/pepper-pasta-desktop.jpg" alt="bell-pepper-pasta" width="442">
                        <div class="border-icon">
                        <svg class="video-icon" width="15" height="20"><use href="./images/video_images/icon-video.svg#icon-icon-play-video"></use></svg>
                        </div>
                        </div>
                        <h3 class="title-video">Bell pepper pasta</h3>
                    </li>
                    <li class="video-item">
                        <div class="video-container">
                            <img src="./images/video_images/tomato-pasta-desktop.jpg" alt="bell-pepper-pasta" width="442">
                            <div class="border-icon">
                            <svg class="video-icon" width="15" height="20"><use href="./images/video_images/icon-video.svg#icon-icon-play-video"></use></svg>
                            </div>
                            </div>
                        <h3 class="title-video">Tomato paste</h3>
                    </li>
                </ul>
            </div>
        </section>
